# Entornos virtuales
.venv/
venv/
__pycache__/
*.pyc

# Archivos de entorno
.env

# Archivos subidos por usuarios (imágenes)
uploads/

# Bases de datos locales
*.sqlite3

# Logs
*.log

# Carpeta de migraciones (si usas Alembic)
migrations/

# Carpeta de resultados o caches
__pycache__/
*.cache/

# Scripts de prueba
test_validar_rostro.py
test_validar_rostro_gui.py

# Modelos de DeepFace (demasiado grandes para Git)
models/weights/*.h5
models/weights/*.pth
models/weights/retinaface/
